$black: rgba(0, 0, 0);
$grey: rgba(41, 41, 41);
$lightGrey: rgb(116, 116, 116);
$white: rgba(255, 255, 255);
$accentColor: $lightGrey;
// Light mode
$backgroundColor-light: #f3f3f3;
$textColor-light: #15202b;
// Dark mode
$backgroundColor-dark: #000;
$textColor-dark: #fff;