@import url(//fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);
@import url(//fonts.googleapis.com/css?family=Martel:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);
body {
	background-color : #FAF9F4;
}
h1 {
    font-weight: bold;
	font-family : 'Dancing Script';
	text-transform : none;
	font-size : 45px;
	line-height : 55px;
}
h2 {
	font-family : 'Martel';
	font-size : 35px;
	color : #433751;
	font-weight : normal;
	line-height : 45px;
}
p {
	font-family : 'Martel';
	font-size : 13px;
	color : #433751;
	text-transform : none;
	line-height : 26px;
}
a {
	font-family : 'Martel';
	font-size : 13px;
	line-height : 26px;
}
h4 {
	font-family : 'Dancing Script';
	font-weight : normal;
	font-size : 24px;
	line-height : 30px;
	color : #433751;
	font-weight : normal;

}
h3 {
	font-family : 'Martel';
	font-size : 20px;
	color : #433751;
	line-height : 27px;
	font-weight : normal;

}
i.fa:not([style*=":"]) {
	background-color : #FAF9F4;
	color : #3A88F5;
	font-size : 35px;
	height : 60px;
	width : 60px;
	line-height : 60px;
}
.btn:not([bs-btn]) {
	background-color : #3A88F5;
	color : #FAF9F4;
	font-family : 'Dancing Script';
}
.main  {
	background-color : #3A88F5;
}
.main p {
	font-family : 'Martel';
	font-size : 13px;
	color : #a6c7f5;
	line-height : 26px;
}
.main a {
	font-family : 'Martel';
	font-size : 13px;
	color : #ffffff;
	line-height : 26px;
}
.main h3 {
	font-family : 'Martel';
	line-height : 27px;
	color : #ffffff;
}
.main h4 {
	font-family : 'Dancing Script';
	font-size : 24px;
	color : #ffffff;
}
.main .btn:not([bs-btn]) {
	background-color : #FAF9F4;
	color : #3A88F5;
	font-family : 'Dancing Script';
}
.main i.fa:not([style*=":"]) {
	background-color : #3A88F5;
	color : #ffffff;
	font-size : 35px;
	height : 60px;
	width : 60px;
	line-height : 60px;
}
.main h2 {
	font-size : 35px;
	font-family : 'Martel';
	font-weight : normal;
	text-transform : none;
	color : #ffffff;
}
.main h1 {
	font-family : 'Dancing Script';
	color : #ffffff;
}
.negative  {
	background-color : #CB2F70;
}
.negative a {
	font-family : 'Martel';
	color : #ffffff;
	font-size : 13px;
	line-height : 26px;
}
.negative p {
	font-family : 'Martel';
	color : #ffffff;
	font-size : 13px;
	line-height : 26px;
	text-transform : none;
	font-style : normal;
}
.negative h4 {
	font-family : 'Dancing Script';
	font-size : 24px;
	line-height : 30px;
	color : #ffffff;

}
.negative h3 {
	font-family : 'Martel';
	color : #ffffff;
	line-height : 27px;
}
.negative h1 {
	color : #ffffff;
	font-family : 'Dancing Script';
}
.negative h2 {
	color : #ffffff;
}
.negative .btn:not([bs-btn]) {
	background-color : #433751;
	color : #ffffff;
	font-family : 'Dancing Script';
	text-transform : none;
}
.negative i.fa:not([style*=":"]) {
	color : #39414E;
	background-color : #ffffff;
	font-size : 18px;
	height : 40px;
	width : 40px;
	line-height : 40px;
}
.secondary  {
	background-color : #39414E;
}
.secondary h1 {
	font-family : 'Dancing Script';
	text-transform : none;
	font-size : 100px;
	line-height : 120px;
	color : #ffffff;
}
.secondary p {
	font-family : 'Martel';
	color : #798291;
	font-size : 13px;
	line-height : 26px;
}
.secondary a {
	font-family : 'Martel';
	color : #ffffff;
	font-size : 13px;
	line-height : 26px;
}
.secondary h2 {
	text-transform : none;
	font-family : 'Martel';
	font-weight : lighter;
	font-size : 35px;
	color : #ffffff;
}
.secondary h4 {
	font-family : 'Dancing Script';
	font-size : 24px;
	color : #ffffff;
}
.secondary h3 {
	font-family : 'Martel';
	font-size : 20px;
	line-height : 27px;
	color : #ffffff;
}
.secondary .btn:not([bs-btn]) {
	color : #ffffff;
	font-family : 'Dancing Script';
}
.secondary i.fa:not([style*=":"]) {
	color : #3A88F5;
	font-size : 25px;
	height : 45px;
	width : 45px;
	line-height : 45px;
}
.basic  {
	background-color : #FAF9F4;
}
.basic h1 {
	font-family : 'Dancing Script';
	text-transform : none;
	font-size : 45px;
	line-height : 55px;
}
.basic h2 {
	font-family : 'Martel';
	font-size : 35px;
	color : #433751;
	font-weight : normal;
	line-height : 45px;
}
.basic p {
	font-family : 'Martel';
	font-size : 13px;
	color : #433751;
	text-transform : none;
	line-height : 26px;
}
.basic a {
	font-family : 'Martel';
	font-size : 13px;
	line-height : 26px;
}
.basic h4 {
	font-family : 'Dancing Script';
	font-weight : normal;
	font-size : 24px;
	line-height : 30px;
	color : #433751;
}
.basic h3 {
	font-family : 'Martel';
	font-size : 20px;
	color : #433751;
	line-height : 27px;
}
.basic i.fa:not([style*=":"]) {
	background-color : #FAF9F4;
	color : #3A88F5;
	font-size : 35px;
	height : 60px;
	width : 60px;
	line-height : 60px;
}
.basic .btn:not([bs-btn]) {
	background-color : #3A88F5;
	color : #FAF9F4;
	font-family : 'Dancing Script';
}
.theme-color {
	color: #FAF9F4;
}
.theme-border-color {
	border-color: #FAF9F4;
}
.theme-background {
	background-color: #FAF9F4;
}
.main-color {
	color: #3A88F5;
}
.main-border-color {
	border-color: #3A88F5;
}
.main-background {
	background-color: #3A88F5;
}
.negative-color {
	color: #CB2F70;
}
.negative-border-color {
	border-color: #CB2F70;
}
.negative-background {
	background-color: #CB2F70;
}
.secondary-color {
	color: #39414E;
}
.secondary-border-color {
	border-color: #39414E;
}
.secondary-background {
	background-color: #39414E;
}